{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
{{parent()}}


 <div class="mpl-box-md">
        <div class="container">
            <ul class="mpl-isotope-options" data-sr="option" data-sr-origin="left" data-sr-interval="100"
                data-sr-duration="1000" data-sr-distance="10">
                
            </ul>
            <div class="mpl-isotope-grid row hgap-xs vgap-md" data-sr="product" data-sr-interval="120"
                 data-sr-duration="1200" data-sr-distance="20">
    <h1>New Commande</h1>

    {{ include('commande/_form.html.twig') }}

    
{% endblock %}
